.line {
    height: 2px;
    width: 100%;
    background: #339933;  	
}
.cover-img {
	width: 100%;
	overflow: hidden;
}
.cover-img img {
	width: 100%;
	height: auto;
}
/*pocinje about us el*/
.about-us {
	width: 100%;
}
.about-us .box {
	margin:0 auto;
	width: 60%;
}
.about-us .box h2 {	
	width: 100%;
	text-align: left;
	padding: 100px 0 70px 70px;
}
.about-us .box .text {
	width: 50%;
	float: left;
	margin-bottom: 130px;
}
.about-us .box .text h5 {
    width: 75%;
    margin: 0 auto;    
}
/*zavrsavase about us*/
/*pocinje product el*/
.product-element {
	width: 100%;
	float: left;
}
.product-element .img-container {
	overflow: hidden;
	display: block;
	position: relative;
	width: 100%;

}
.product-element .img-container img {
	width: 100%;
	height: auto;
	display: block;
}
.product-element .img-container .opacity {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	z-index: 999;
	width: 100%;
	height: 100%;
}
.product-element .img-container .product-title {
	width: 50%;
    height: 110px;
    border-left: 3px solid #fff;
    position: absolute;
    top: 94px;
    left: 8%;
    z-index: 999;
}

.product-element .img-container .product-title h2 {
	width: 100%;
    text-align: left;
    padding-left: 20px;
    color: #fff;    
}
.product-element .img-container .product-title h2:hover {
	cursor: pointer;
}
.product-element .img-container .product-title  button {
    outline: none;
    background-color: transparent;
    margin-left: 57px;
    margin-top: 8px;
    border: 2px solid transparent;
    border-radius: 13px;
    width: 29px;
    height: 29px;
    cursor: pointer;
}
.product-element .img-container .product-title  button:hover {
	border: 2px solid#fff;
    border-radius: 92px;
}
.product-element .img-container .product-title h6 {
	color: #fff;
    width: 100%;
    padding-left: 20px;
    padding-top: 8px;
}
.product-element .img-container .product-title button i {
	color: #fff;
    width: 26px;
    font-size: 26px;
    line-height: 0.9;
    margin-left: -6.2px;
    margin-top: 0.5px;
}


/*slogan*/
.sl-box {
	width: 100%;
	position: relative;
    float: left;
}

.sl-box .text {
    padding-top: 80px;
    padding-bottom: 110px;
    width: 670px;
    text-align: center;
    color: #22272e;
    font-size: 50px;
    font-weight: 400 ;
    margin: 0 auto;
    letter-spacing: 2.55px;
}
.sl-box .rw-box {
	padding-bottom: 70px;
}
.sl-box .cl {
	width: 25%;
    height: 100%;
	float: left;
	position: relative;
    padding: 0 15px;
}
.sl-box .cl .box {
	width: 100%;
    border-top: 3px solid #f9c31e;
    padding: 40px 20px;
    text-align: center;
}
.sl-box .cl .box .fa {
    font-size: 30px;
    color: #f9c31e;
    padding-right: 15px;
}
.sl-box .cl .box h6 {
	padding-top: 40px;
}
.sl-box .one {
	left: -25%;
}
.sl-box .two {
	left: -50%;
}
.sl-box .three {
	left: -75%;
}
.sl-box .four {
	left: -100%;
}

