.line {
    height: 2px;
    width: 100%;
    background: #339933;  	
	position: relative;
	z-index: 1;
}
.cover-img {
	position: relative;
	z-index: 1;
	width: 100%;
	overflow: hidden;
    background: #fff;
    padding-top: 30px;
}
.cover-img img {
	width: 100%;
	height: auto;
}
/*pocinje about us el*/
.about-us {
	width: 100%;
	position: relative;
	z-index: 1;
	float: left;
    background: #fff;
    display: flex;
    overflow: hidden;
    justify-content: space-around;
}
.about-us .box {
	margin:0 auto;
	width: 1170px;
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-us .box h2 {	
	width: 100%;
	text-align: left;
	padding: 100px 0 70px 20px;
}
.about-us .box .text {
	width: 50%;
	float: left;
	margin-bottom: 130px;
	position: relative;
	z-index: 1;
}
.about-us .box .text h5 {
	width: 90%;
	margin: 0 auto;
	text-align: justify;
	line-height: 1.5;
	letter-spacing: 0.5px;
}
/*zavrsavase about us*/
/*pocinje product el*/
.product-element {
	width: 100%;
	float: left;
	z-index: 1;
	position: relative;
}
.product-element .img-container {
	overflow: hidden;
	display: block;
	position: relative;
	width: 100%;

}
.product-element .img-container img {
	width: 100%;
	height: auto;
	display: block;
}
.product-element .img-container .opacity {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	z-index: 999;
	width: 100%;
	height: 100%;
}
.product-element .img-container .product-title {
	width: 50%;
    height: 110px;
    position: absolute;
    top: 94px;
    z-index: 999;
    -webkit-transition: height 2s;
    -moz-transition: height 2s;
	-o-transition: height 2s;
}
.product-element .img-container .first {
    left: 8%;
    border-left: 3px solid #fff;

}
.product-element .img-container .second {
	right: 8%;
	border-right: 3px solid #fff;

}
.product-title-active {
	height: 240px !important;
}
.product-element .img-container .product-title h2 {
	width: 100%;
    text-align: left;
    padding-left: 20px;
    color: #fff;  
    padding-bottom: 16px  
}
.product-element .img-container .product-title .arrow {
	position: absolute;
    top: 87px;
    width: 30px;
    height: 30px;
    cursor: pointer;    
    -webkit-transition: top 2s;
    -moz-transition: top 2s;
	-o-transition: top 2s;

}
.product-element .img-container .first .arrow{
    left: 65px;
	
}

.product-element .img-container .second .arrow {
	right: 65px;
}

.product-element .img-container .second h2,
.product-element .img-container .second .more-info,
.product-element .img-container .second .img-text {
	text-align: right;
	padding-right: 20px;
}

.arrow-active {
	top: 240px !important;
	-webkit-transition: top 2s;
	-moz-transition: top 2s;
	-o-transition: top 2s;
}
.product-element .img-container .product-title i {
	color: #fff;
	position: relative;
	font-size: 35px;
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
	-webkit-transition: transform 1s 2s;
	-moz-transition: transform 1s 2s;
	-o-transition: transform 1s 2s;
}

.icon-active {
	-webkit-transform: rotate(180deg) !important;
	-moz-transform: rotate(180deg) !important;
	-o-transform: rotate(180deg) !important;
	-webkit-transition: transform 1s 1s;
	-moz-transition: transform 1s 1s;
	-o-transition: transform 1s 1s;
}
.product-element .img-container .product-title h6 {
	color: #fff;
    width: 100%;
    padding-left: 20px;
    padding-top: 0;
}
.product-element .img-container .product-title .more-info {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 2s 2s;
	-moz-transition: opacity 2s 2s;
	-o-transition: opacity 2s 2s;
}
.more-info-active {
	visibility: hidden !important;
	opacity: 0 !important;
	-webkit-transition: opacity 2s, visibility 2s !important;
	-moz-transition: opacity 2s, visibility 2s !important;
	-o-transition: opacity 2s, visibility 2s !important;
}
.product-element .img-container .product-title .img-text {
	position: relative;
	top: -185px;
	-webkit-transition: top 2s;
	-moz-transition: top 2s;
	-o-transition: top 2s;
}
/*.product-element .img-container .product-title:hover button {
	top: 180px;
	transform: rotate(180deg);
	transition: top 2s, transform 1s 2s;
}*/
.text-box {
	overflow: hidden;
}
.img-text-active {
	top: 0 !important;
	-webkit-transition: top 2s;
	-moz-transition: top 2s;
	-o-transition: top 2s;
}
/*.product-element .img-container .product-title button i {
	color: #fff;
    width: 26px;
    font-size: 26px;
    line-height: 0.9;
    margin-left: -6.2px;
    margin-top: 0.5px;
}*/


/*slogan*/
.sl-box {
	width: 100%;
	position: relative;
    float: left;
	z-index: 1;
    background: #fff;
}

.sl-box .text {
    padding-top: 80px;
    padding-bottom: 110px;
    width: 830px;
    text-align: center;
    color: #22272e;
    font-size: 50px;
    font-weight: 400 ;
    margin: 0 auto;
    letter-spacing: 2.55px;
}
.sl-box .rw-box {
	padding-bottom: 70px;
}
.sl-box .cl {
	width: 25%;
    height: 100%;
	float: left;
	position: relative;
    padding: 0 15px;
}
.sl-box .cl .box {
	width: 100%;
    border-top: 3px solid #f9c31e;
    padding: 40px 10px;
    text-align: center;
}
.sl-box .cl .box .fa {
    font-size: 30px;
    color: #f9c31e;
    padding-right: 15px;
}
.sl-box .cl .box h6 {
	padding-top: 40px;
}
.sl-box .one {
	left: -25%;
	opacity: 0;
  	-webkit-transition: left 1.5s 2.7s ease-out,opacity 3s 3.5s;
  	-moz-transition: left 1.5s 2.7s ease-out,opacity 3s 3.5s;
	-o-transition: left 1.5s 2.7s ease-out,opacity 3s 3.5s;
}
.sl-box .two {
	left: -50%;
	opacity: 0;
	-webkit-transition: left 2s 2s ease-out,opacity 2s 2.5s;
	-moz-transition: left 2s 2s ease-out,opacity 2s 2.5s;
	-o-transition: left 2s 2s ease-out,opacity 2s 2.5s;
}
.sl-box .three {
	left: -75%;
	opacity: 0;
	-webkit-transition:  left 3s 1s, opacity 2s 1.5s;
	-moz-transition:  left 3s 1s, opacity 2s 1.5s;
	-o-transition:  left 3s 1s, opacity 2s 1.5s;
}
.sl-box .four {
	left: -100%;
	opacity: 0;
	-webkit-transition:  left 3s, opacity 2s 0.5s;
	-moz-transition:  left 3s, opacity 2s 0.5s;
	-o-transition:  left 3s, opacity 2s 0.5s;
}
.sl-box .slideLeft.cl{
    left: 0%;
	opacity: 1;
}
.second .img-container .product-title .img-text {
		top: -380px;
}
.second .img-container .arrow-active {
	top: 380px!important;
}
.second .img-container .product-title-active {
	height: 360px!important;
}
/*slogan*/
#contact {
	width: 100%;
	float: left;
	z-index: 1;
	position: relative;
	margin-bottom: 359px;
}
@media (max-width: 1200px){

	h2 {
		font-size: 40px;
	}
	h3 {
	font-size: 27px;
	}
	h4 {
	font-size: 22px;    
	}
	h5 {
  	font-size: 16px;
	}
	h6 {
	font-size: 12px;
	}
	.about-us .box {
		width: 95%;
	}
	.product-element .img-container .product-title {
		    top: 58px;
	}
	.product-element .img-container .product-title h2 {
		    padding-bottom: 7px;
	}
	.product-title-active {
		    height: 165px !important;
	}
	.arrow-active {
		top: 160px !important;
	}
	.product-element .img-container .product-title i {
		font-size: 28px;
	}
	header ul {
			padding-right: 0;
		}
	.sl-box .slideLeft.cl {
		  	padding-bottom: 70px;
		}
		.sl-box .rw-box {
			 width: 70%;
    		 display: flex;
    		justify-content: space-between;
    		flex-wrap: wrap;
    		padding-bottom: 0;
		}
		.sl-box .cl {
			width: 35%;
		}
		.container {
			width: 90%;
			display: flex;
    		justify-content: space-between;
		}
		.container .contact {
			width: 100%;
		}
	}
	@media (max-width: 970px){
			sl-box .rw-box {
			 width: 80%;
			}
			.sl-box .cl {
			width: 43%;
		}
	}
	@media (max-width: 920px){
		h2 {
			font-size: 35px;
	}
		h3 {
			font-size: 22px;
		}
		h4 {
			font-size: 18px;    
		}
		h5 {
	  		font-size: 14px;
		}
		h6 {
			font-size: 12px;
		}
		.product-element .img-container .product-title {
			top: 30px;
		}
		.product-element .img-container .product-title i {
			font-size: 25px;
		}
		.product-element .img-container .product-title .arrow {
			top: 65px;
		}
		.product-element .img-container .product-title {
			width: 70%;
		}

	}
	@media (max-width: 900px){
		.about-us .box .text {
			width: 100%;
			margin-bottom: 70px;
		}
		.about-us .box h2 {
			width: 70%;
			margin: 0 auto;
			padding-left: 0px;
		}


	}
	@media (max-width: 780px){
		.about-us .box h2 {
			padding: 70px 0 70px 0;

		}
		.about-us .box .text {
			width: 100%;
		}
		.arrow-active {
			top: 150px !important;
		}
	}
	@media (max-width: 650px){
		.about-us .box h2 {
			width: 95%;
		}
		.about-us .box .text h5 {
			width: 95%;

		}
	}
	@media (max-width: 700px){

		header ul li a {
			    font-size: 16px;
		}
		header ul {
			padding-right: 0;
		}
		header ul li:hover .grey-underline {
			width: 63px;
		}
		.sl-box .rw-box {
			width: 90%;
		}
		.sl-box .cl {
			width: 50%;
		}
		.sl-box .text {
			width: 90%;
			font-size: 35px;
		}
		footer .contact h3 {
    		width: 100%;
    		padding-bottom: 43px;
    	}
    	footer .contact .info {
    		width: 50%;
    	}
    	footer .container .button {
    		width: 40%;
    	}
	}
	@media (max-width: 600px){
		header ul li a {
			font-size: 14px;
			padding-right: 40px;
		}		
	}
	@media (max-width: 560px){

		.sl-box .rw-box {
			justify-content: center;
		}
		.sl-box .cl {
			width: 62%;
		}
		.product-element .img-container .product-title h2 {
			font-size: 25px;
		}
		.product-element .img-container .product-title {
			top: 14px;
			height: 86px;
		}


	}
	@media (max-width: 500px){
		footer {
			height: 426px;
		}
		footer .contact .info {
		    width: 100%;
		    padding-bottom: 30px;
		}
		footer .container .button {
			width: 30%;
		}
		footer #map-canvas {
			height: 350px;
		}

	}
	@media (max-width: 460px){
		.sl-box .rw-box {
			width: 100%;
		}
		.sl-box .cl {
			width: 80%;
		}

	}

	@media (max-width: 420px){
		header {
			height: 62px;
		}
		.product-element .img-container .product-title .arrow, 
		.arrow-active {
			top: 50px !important;
		}
		.product-element .img-container .product-title i {
			font-size: 18px;
		}
		.product-element .img-container .product-title h2 {
			font-size: 20px;
		}
		.product-element .img-container .product-title {
			top: 10px;
    		width: 95%;
    		height: 60px;
		}
		.product-title-active {
    		height: 60px !important;

		}
		header ul li a {
			font-size: 12px;
			padding-right: 20px;
		}
		header ul li:hover .grey-underline {
			    width: 54px;

		}

	}