.line {
    height: 2px;
    width: 100%;
    background: #339933;  	
	position: relative;
	z-index: 1;
}
.cover-img {
	position: relative;
	z-index: 1;
	width: 100%;
	overflow: hidden;
    background: #fff;
    padding-top: 30px;
}
.cover-img img {
	width: 100%;
	height: auto;
}
/*pocinje about us el*/
.about-us {
	width: 100%;
	position: relative;
	z-index: 1;
	float: left;
    background: #fff;
}
.about-us .box {
	margin:0 auto;
	width: 60%;
}
.about-us .box h2 {	
	width: 100%;
	text-align: left;
	padding: 100px 0 70px 25px;
}
.about-us .box .text {
	width: 50%;
	float: left;
	margin-bottom: 130px;
	position: relative;
	z-index: 1;
}
.about-us .box .text h5 {
    width: 90%;
    margin: 0 auto;    
}
/*zavrsavase about us*/
/*pocinje product el*/
.product-element {
	width: 100%;
	float: left;
	z-index: 1;
	position: relative;
}
.product-element .img-container {
	overflow: hidden;
	display: block;
	position: relative;
	width: 100%;

}
.product-element .img-container img {
	width: 100%;
	height: auto;
	display: block;
}
.product-element .img-container .opacity {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	z-index: 999;
	width: 100%;
	height: 100%;
}
.product-element .img-container .product-title {
	width: 50%;
    height: 110px;
    position: absolute;
    top: 94px;
    z-index: 999;
    -webkit-transition: height 2s;
    -moz-transition: height 2s;
	-o-transition: height 2s;
}
.product-element .img-container .first {
    left: 8%;
    border-left: 3px solid #fff;

}
.product-element .img-container .second {
	right: 8%;
	border-right: 3px solid #fff;

}
.product-title-active {
	height: 200px !important;
}
.product-element .img-container .product-title h2 {
	width: 100%;
    text-align: left;
    padding-left: 20px;
    color: #fff;  
    padding-bottom: 16px  
}
.product-element .img-container .product-title .arrow {
	position: absolute;
    top: 87px;
    width: 30px;
    height: 30px;
    cursor: pointer;    
    -webkit-transition: top 2s;
    -moz-transition: top 2s;
	-o-transition: top 2s;

}
.product-element .img-container .first .arrow{
    left: 65px;
	
}

.product-element .img-container .second .arrow {
	right: 65px;
}

.product-element .img-container .second h2,
.product-element .img-container .second .more-info,
.product-element .img-container .second .img-text {
	text-align: right;
	padding-right: 20px;
}

.arrow-active {
	top: 177px !important;
	-webkit-transition: top 2s;
	-moz-transition: top 2s;
	-o-transition: top 2s;
}
.product-element .img-container .product-title i {
	color: #fff;
	position: relative;
	font-size: 35px;
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
	-webkit-transition: transform 1s 2s;
	-moz-transition: transform 1s 2s;
	-o-transition: transform 1s 2s;
}

.icon-active {
	-webkit-transform: rotate(180deg) !important;
	-moz-transform: rotate(180deg) !important;
	-o-transform: rotate(180deg) !important;
	-webkit-transition: transform 1s 1s;
	-moz-transition: transform 1s 1s;
	-o-transition: transform 1s 1s;
}
.product-element .img-container .product-title h6 {
	color: #fff;
    width: 100%;
    padding-left: 20px;
    padding-top: 0;
}
.product-element .img-container .product-title .more-info {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 2s 2s;
	-moz-transition: opacity 2s 2s;
	-o-transition: opacity 2s 2s;
}
.more-info-active {
	visibility: hidden !important;
	opacity: 0 !important;
	-webkit-transition: opacity 2s, visibility 2s !important;
	-moz-transition: opacity 2s, visibility 2s !important;
	-o-transition: opacity 2s, visibility 2s !important;
}
.product-element .img-container .product-title .img-text {
	position: relative;
	top: -85px;
	-webkit-transition: top 2s;
	-moz-transition: top 2s;
	-o-transition: top 2s;
}
/*.product-element .img-container .product-title:hover button {
	top: 180px;
	transform: rotate(180deg);
	transition: top 2s, transform 1s 2s;
}*/
.text-box {
	overflow: hidden;
}
.img-text-active {
	top: 0 !important;
	-webkit-transition: top 2s;
	-moz-transition: top 2s;
	-o-transition: top 2s;
}
/*.product-element .img-container .product-title button i {
	color: #fff;
    width: 26px;
    font-size: 26px;
    line-height: 0.9;
    margin-left: -6.2px;
    margin-top: 0.5px;
}*/


/*slogan*/
.sl-box {
	width: 100%;
	position: relative;
    float: left;
	z-index: 1;
    background: #fff;
}

.sl-box .text {
    padding-top: 80px;
    padding-bottom: 110px;
    width: 670px;
    text-align: center;
    color: #22272e;
    font-size: 50px;
    font-weight: 400 ;
    margin: 0 auto;
    letter-spacing: 2.55px;
}
.sl-box .rw-box {
	padding-bottom: 70px;
}
.sl-box .cl {
	width: 25%;
    height: 100%;
	float: left;
	position: relative;
    padding: 0 15px;
}
.sl-box .cl .box {
	width: 100%;
    border-top: 3px solid #f9c31e;
    padding: 40px 20px;
    text-align: center;
}
.sl-box .cl .box .fa {
    font-size: 30px;
    color: #f9c31e;
    padding-right: 15px;
}
.sl-box .cl .box h6 {
	padding-top: 40px;
}
.sl-box .one {
	left: -25%;
	opacity: 0;
  	-webkit-transition: left 1.5s 2.7s ease-out,opacity 3s 3.5s;
  	-moz-transition: left 1.5s 2.7s ease-out,opacity 3s 3.5s;
	-o-transition: left 1.5s 2.7s ease-out,opacity 3s 3.5s;
}
.sl-box .two {
	left: -50%;
	opacity: 0;
	-webkit-transition: left 2s 2s ease-out,opacity 2s 2.5s;
	-moz-transition: left 2s 2s ease-out,opacity 2s 2.5s;
	-o-transition: left 2s 2s ease-out,opacity 2s 2.5s;
}
.sl-box .three {
	left: -75%;
	opacity: 0;
	-webkit-transition:  left 3s 1s, opacity 2s 1.5s;
	-moz-transition:  left 3s 1s, opacity 2s 1.5s;
	-o-transition:  left 3s 1s, opacity 2s 1.5s;
}
.sl-box .four {
	left: -100%;
	opacity: 0;
	-webkit-transition:  left 3s, opacity 2s 0.5s;
	-moz-transition:  left 3s, opacity 2s 0.5s;
	-o-transition:  left 3s, opacity 2s 0.5s;
}
.sl-box .slideLeft.cl{
    left: 0%;
	opacity: 1;
}
/*slogan*/
#contact {
	width: 100%;
	float: left;
	z-index: 1;
	position: relative;
	margin-bottom: 359px;
}