.line {
    height: 2px;
    width: 100%;
    background: #339933;  	
}
.cover-img {
	width: 100%;
	overflow: hidden;
}
.cover-img img {
	width: 100%;
	height: auto;
}
/*pocinje about us el*/
.about-us {
	width: 100%;
}
.about-us .box {
	margin:0 auto;
	width: 60%;
}
.about-us .box h2 {	
	width: 100%;
	text-align: left;
	padding: 100px 0 70px 70px;
}
.about-us .box .text {
	width: 50%;
	float: left;
	margin-bottom: 130px;
}
.about-us .box .text h5 {
    width: 75%;
    margin: 0 auto;    
}
.product-element {
	width: 100%;
	float: left;
}
.product-element .img-container {
	overflow: hidden;
	display: block;
	position: relative;
	width: 100%;

}
.product-element .img-container img {
	width: 100%;
	height: auto;
	display: block;
}
.product-element .img-container .opacity {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	z-index: 999;
	width: 100%;
	height: 100%;
}
.white {
	width: 100%;
	float: left;
	overflow: hidden;
	padding: 50px 0 50px 0;
}
.product-element .img-container h2 {
	width: 100%;
	text-align: center;
	color: #fff;
	z-index: 99999;
    position: absolute;
    top: 50%;
    margin-top: -25.5px;
}
.product-element .img-container h2:hover {
	cursor: pointer;
}
/*slogan*/
.sl-box {
	width: 100%;
	position: relative;
    float: left;
}

.sl-box .text {
    padding-top: 80px;
    padding-bottom: 110px;
    width: 460px;
    text-align: center;
    color: #22272e;
    font-size: 50px;
    font-weight: 400 ;
    margin: 0 auto;
    letter-spacing: 2.55px;
}
.sl-box .rw-box {
	padding-bottom: 70px;
}
.sl-box .cl {
	width: 25%;
    height: 100%;
	float: left;
	position: relative;
    padding: 0 15px;
}
.sl-box .cl .box {
	width: 100%;
    border-top: 3px solid #f9c31e;
    padding: 40px 20px;
    text-align: center;
}
.sl-box .cl .box .fa {
    font-size: 30px;
    color: #f9c31e;
    padding-right: 15px;
}
.sl-box .cl .box h6 {
	padding-top: 40px;
}
.sl-box .one {
	left: -25%;
	opacity: 0;
  	transition: left 1.5s 2.7s ease-out,opacity 3s 3.5s;
}
.sl-box .two {
	left: -50%;
	opacity: 0;
	transition: left 2s 2s ease-out,opacity 2s 2.5s;
}
.sl-box .three {
	left: -75%;
	opacity: 0;
	transition:  left 3s 1s, opacity 2s 1.5s;
}
.sl-box .four {
	left: -100%;
	opacity: 0;
	transition:  left 3s, opacity 2s 0.5s;
}
.sl-box .slideLeft.cl{
    left: 0%;
	opacity: 1;
}




